torch
torch_sparse
torch_geometric
torch_scatter
torch_cluster
sacred
matplotlib
numpy
scipy
networkx
ipython
ipdb
jupyter
pyemd
umap-learn[plot]
pandas
colorcet
datashader
DominantSparseEigenAD
pytorch_lightning<0.9
imageio
seaborn
ogb
termcolor
sparsemax
pdbpp
